.record__layout {
    display: flex;
    height: 100vh;
    background-color: #fafafa;
}

.record__container {
    flex: 1;
    overflow-y: visible;
    padding: 20px;
    margin-left: 20px;  
    margin-right: 20px; 
}

.record__content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.record__description {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    flex-wrap: wrap;
}

.record__text {
    flex: 1;
    font-size: 1rem;
}

.record__text h1 {
    margin: 0;
    font-size: 3rem;
}

.record__text ul {
    margin-top: 10px;
    padding-left: 18px;
}

.record__image img {
    max-width: 180px;
    height: auto;
}

.record__filters {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.record__filters div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.record__filters input,
.record__filters select {
    width: 190px;
    height: 36px;
    padding: 5px 10px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
}

.record__buttons {
    display: flex;
    gap: 10px;
}

.btn-search,
.btn-clear {
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    width: 110px;
    transition: background 0.3s ease;
    text-align: center;
}

.btn-search {
    background-color: #5161ce;
    color: white;
    border: none;
}

.btn-search:hover {
    background-color: #3e4dbb;
}

.btn-clear {
    background-color: #ffb703;
    border: 1px solid #fb8500;
    color: #333;
}

.btn-clear:hover {
    background-color: #fb8500;
}


@media (max-width: 1024px) {
    .record__description {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .record__image img {
        max-width: 120px;
    }

    .record__container {
        padding: 15px;
        margin-left: 10px; 
        margin-right: 10px;
    }

    .record__content {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .record__filters {
        flex-direction: column;
    }

    .record__image img {
        max-width: 90px;
    }

    .btn-search,
    .btn-clear,
    .record__filters input,
    .record__filters select {
        width: 100%;
    }

    .record__container {
        margin-left: 5px;  
        margin-right: 5px;
    }
}
