.layout-container {
    display: flex;
    height: 100vh;
}

.content {
    flex-grow: 1;
    margin-left: 250px;
    padding: 3px;
    transition: margin-left 0.3s ease;
}

.layout-container.collapsed .content {
    margin-left: 80px;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: #038f67;
    color: #fff;
    height: 55px;
    width: 100%;
}

.sidebar-logo {
    width: 40px;
    height: auto;
    margin-right: 10%;
    padding: 0;
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .sidebar-logo {
    display: none;
}

.menu-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    width: 40px;
}

.menu-toggle:focus {
    outline: none;
}

.menu {
    flex-grow: 1;
    padding: 10px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item a {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    color: #000;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
}

.menu-icon {
    width: 30px;
    margin-right: 10px;
    text-align: center;
    color: #038f67;
}

.sidebar.collapsed .menu-icon {
    margin-right: 0;
    width: 100%;
}

.menu-item a:hover,
.menu-item a.active {
    background: #038f67;
    color: #fff;
}

.menu-item a.active .menu-icon {
    color: #fff;
}

.menu-item a:hover .menu-icon {
    color: #fff;
}

.logout-container {
    padding: 15px;
}

.logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px;
    margin-bottom: 10%;
    border: 2px solid #ff4d4d;
    background: transparent;
    color: #ff4d4d;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
}

.logout-button:hover {
    background: #ff4d4d;
    color: #fff;
}

.logout-button .menu-icon {
    color: #ff4d4d;
}

.logout-button:hover .menu-icon {
    color: #fff;
}
