.document-layout {
    display: flex;
    background-color: #fafafa;
}

.document-container {
    flex: 1;
    overflow-y: visible;
    padding: 20px;
    margin-left: 20px;  
    margin-right: 20px; 
}
  
.document-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.document-description {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    flex-wrap: wrap;
}

.document__list code {
    background-color: #f4f4f4;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 0.9rem;
    color: #333;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}
  
.document-text {
    flex: 1;
    font-size: 1rem;
}
  
.document-text h1 {
    margin: 0;
    font-size: 3rem;
}

.document-text ul {
    margin-top: 10px;
    padding-left: 18px;
}
  
.document-image img {
    max-width: 180px;
    height: auto;
  }
  
.document-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.document-filters div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.document-filters input,
.document-filters select {
    width: 190px;
    height: 36px;
    padding: 5px 10px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
}

.document-buttons {
    display: flex;
    gap: 10px;
}

.search-btn,
.clear-btn {
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    width: 110px;
    transition: background 0.3s ease;
    text-align: center;
}

.updatedocument-btn {
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    width: 130px;
    transition: background 0.3s ease;
    text-align: center; 
}

.search-btn {
    background-color: #5161ce;
    color: white;
    border: none;
}

.search-btn:hover {
    background-color: #3e4dbb;
}

.clear-btn {
    background-color: #ffb703;
    border: 1px solid #fb8500;
    color: #333;
}

.clear-btn:hover {
    background-color: #fb8500;
}

.updatedocument-btn {
    background-color: #588157;
    border: 1px solid #344e41;
    color: white;

}

.updatedocument-btn:hover {
    background-color: #344e41;
}

.document-message {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    margin-top: 30px; 
}


.info-message {
    background-color: #d9ed92;
    color: #4f772d;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

@media (max-width: 1024px) {
    .document-description {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .document-image img {
        max-width: 120px;
    }

    .document-container {
        padding: 15px;
        margin-left: 10px; 
        margin-right: 10px;
    }

    .document-content {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .document-filters {
        flex-direction: column;
    }

    .document-image img {
        max-width: 90px;
    }

    .search-btn,
    .clear-btn,
    .updatedocument-btn,
    .document-filters input,
    .document-filters select {
        width: 100%;
    }

    .document-container {
        margin-left: 5px;  
        margin-right: 5px;
    }
}
